<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/demos">Demos</a>
        </li>
    </ul>
</header>